// main SASS file

/* Importing Partials */

@import "partials/variables";
@import "partials/queries";
@import "partials/mixin";

*{
    padding:0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:before,
    &:after{
        webkit-box-sizing: inherit;
    box-sizing: inherit;
    }
}

html{
    font-size: 16px;
    font-family: $font_0, $font_1, $font_2, $font_2;
    /* default for whole page */
    line-height: 1.6;
}

h1, h2, h3, h4{
    font-family: $font_4,$font_5,$font_6,$font_7,$font_8; 
    /* serif for the headings */
}

ul{
    list-style: none;
}

/***********************************************
                SPECIAL
***********************************************/

.clearfix:after{
    display:table;
    clear: both;
    content: "";
}

/***********************************************
                LAYOUT
***********************************************/


.bg-header{
    background-color: $white;
    background-color: $color_onahau_approx;
    color: $color_log_cabin_approx;
    border-bottom:1rem solid $color_half_baked_approx;
    border-top:1rem solid $color_casal_approx;
    position: relative;
}
.bg-header:before,
.bg-header:after{
    content:"";
    position:absolute;
    bottom:-1rem;
    width:30%;
    height:1rem;
    background-color: $color_casal_approx;
}
.bg-header:before{
    left:0;
}
.bg-header:after{
    right:0;
}
.bg-focal{
    background-color: $color_indian_khaki_approx;
    color: $color_spicy_mix_approx;
}
.bg-content1{
    background-color: $white;
    color: $color_log_cabin_approx;
}
.bg-content2{
    background-color: $color_onahau_approx;
    color: $color_casal_approx;
}
.bg-footer{
    background-color: $white;
    color: $color_quill_gray_approx;
}

header{
    width: 400px; /* default */
    margin: 0 auto;
    position: relative;
}
header h1{
    width: 100%;
    padding: 0 2rem;
}
header nav{
    width: 100%;
}
header nav>ul li{
    width:100%;
    float: none;
}
section.focal{
    width: 400px; /* default */
    margin: 0 auto;
}
section.content1{
    padding: 2rem 0;
}
section.content2{
    padding:2rem 0;    
}
.row{
    clear: both;
}
.col-2{
    width:50%;
    float:left;
    padding-bottom: 2rem;
    border-left:1px solid $color_casal_approx;
    margin-bottom: 2rem;
}
footer .col-2:first-child{
    border-left: 0;
}
footer{
    padding:2rem 0;
}
footer p:last-child{
}
/***********************************************
                NAVIGATION
***********************************************/
header nav{
    padding:2rem 0;
    clear: both;
}
header nav>ul>li>a{
    display:block;
    text-align: center;
    text-decoration: none;
    color: $color_log_cabin_approx;    
    font-size: 1.414rem;
    letter-spacing: 0.25rem;
    border:1px solid $color_quill_gray_approx; 
    border-bottom: none;
    padding:1.0rem 2rem;
    line-height: 1;
    background-color: $white;
}
header nav>ul>li>a:hover{
    font-weight: 700; color:$color_spicy_mix_approx;
}

/***********************************************
                CONTENT
***********************************************/
 
header h1{
    color: $color_spicy_mix_approx;
    letter-spacing: 0.1rem;
}
header h1 i.fa-lg{
    display:block;
    width: 25%;
    float:left;
    font-size: 7rem;
    line-height: 12.7936rem;
    color: $color_indian_khaki_approx;
}
header h1 i.fa-lg ~ span{
    float: right;
    width: 75%;
    font-size: 3.998rem;
    /**
    2 lines of 3.998 * 1.6 = 12.7936
    **/
    padding-left: 1rem;
    text-align: right;
}
.focal h2{
    font-size: 1.999rem;
    line-height: 1.2;
    padding: 2rem 2rem 1rem 2rem;
}
.focal .author{
    font-size: 1rem;
    padding: 0.2rem 2rem 2rem;
}
.content1 h3{
    font-size:1.999rem;
    padding: 0.2rem 2rem 2rem;
}
.content1 h3 i{
    vertical-align:middle;
    padding-right: 2rem;
}
.content1 p{
    font-size: 1.414rem;
    padding: 0.5rem 2rem 2rem;
}
.content2 h3{
    font-size: 1.999rem;
    padding: 1rem 2rem 0.5rem;
}
.content2 h4{
    font-size: 1.999rem;
    padding: 1rem 2rem 0rem;
}
.content2 p{
    font-size: 1.414rem;
    padding: 0.5rem 2rem 1rem;
}
.content2 li{
    padding: 0.5rem 2rem;
    font-size: 1.414rem;
}
/***********************************************
                FOOTER
***********************************************/
footer h4{
    font-size: 1.414rem;
    padding: 0.5rem 2rem;
    color: $color_spicy_mix_approx;
}
footer p{
    font-size: 1rem;
    padding: 0.5rem 2rem;
    color: $color_log_cabin_approx;
}
footer .fa-circle{
    color: $color_log_cabin_approx;
}
footer h4[lang=de]{
   display:block;
}
footer h4[lang=en],
footer h4[lang=ar],
footer h4[lang=ru]{
    display:none;
}

